services:
    laravel.test:
        container_name: '${CONTAINER_API_NAME:-ihris_api}'
        build:
            context: ./vendor/laravel/sail/runtimes/8.3
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: sail-8.3/app
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${API_PORT:-90}:80'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}'
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - redis
        restart:
            'always'
    
    redis:
        container_name: '${CONTAINER_REDIS_NAME:-ihris_redis}'
        image: 'redis:alpine'
        ports:
            - '${REDIS_PORT:-6386}:6379'
        volumes:
            - 'sail-redis:/data'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s
        restart:
            'always'
networks:
    sail:
        driver: bridge
volumes:
    sail-redis:
        driver: local
 
